.container {
  max-width: 500px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.p2cards {
  background: center / cover url("../assets/images/card_face_down.jpeg");
  border: 1px solid white;
  border-radius: 4px;
}
