.modal {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &.open {
    display: flex;
  }
}
